[Unit]
Description=Analytics script trackink users transactions on Tezos Chain
After=network.target
 
[Service]
Type=simple
 
User=achille


 
ExecStart=/usr/bin/python3.9 /home/achille/analytics/txTracker/txTracker.py
 

 

 
[Install]
WantedBy=multi-user.target