@font-face {
  font-family: Rubik;
  src: url(https://talao.co/analytics/static/font);
}
.button {
  color: #ffffff;
  background: transparent linear-gradient(0deg, #6E22CD 0%, #9F69E3 100%) 0% 0% no-repeat padding-box;
  font-size: 19px;
 
  padding: 15px 50px;
  cursor: pointer;
  border-radius: 100px;
}

.button:hover {
  color: #2d63c8;
  background-color: #ffffff;
}

body {
  background-color: black;
  background-image: url(https://talao.co/analytics/static/background);
  font-family :Rubik;

}
table{
  border-width: 1px;
  border-color: #ffffff;
  border-style: solid;
  border-collapse: collapse;
}
thead{
  background-color: rgba(255,255,255,0.5);
}
tr{
  background-color: rgba(255,255,255,0.12);
}

a{
  color: white;
  font-family :Rubik;

}

.line{
  text-align: center;
  font-family :Rubik;
  letter-spacing: 0px;
color: #EEE9F4;
opacity: 1;}
td{
  height: 50px;
  border: 1px solid #FFFFFF;

}
tr{
  width: 80%;
}

#logout{
  position: absolute;
  top : 5%;
  right: 5%
}
#vouchers{
  position: absolute;
  top:5%;
  left: 5%;
}
#logo{
  text-align: center;
}
#scan {
  color: #EEE9F4;
  font-family :Rubik;
}
#qrcode{
  max-width: 300px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
border: 20px solid #FFFFFF;
border-radius: 20px;
opacity: 1;
}
#access{
  text-align: center;
font-family :Rubik;
font-size: 58px;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
font-weight: bold;
line-height: 0px;
}
#connect{
  color: #FBD400;
  font-family :Rubik;
  font-size: 24px;
  line-height: 0px;

}
#connected{
  color: #4dc968;
  font-family :Rubik;
  font-size: 15px;
  line-height: 0px;

}