/*table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background-color : rgba(255, 255, 255, 0.021);

  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}*/

.button {
  color: #ffffff;
  background: transparent linear-gradient(0deg, #6E22CD 0%, #9F69E3 100%) 0% 0% no-repeat padding-box;
  font-size: 19px;
 
  padding: 15px 50px;
  cursor: pointer;
  border-radius: 100px;
}

.button:hover {
  color: #2d63c8;
  background-color: #ffffff;
}

body {
  background-color: black;
  background-image: url(https://talao.co/analytics/static/background)
  
}

thead{
  background-color: rgba(255,255,255,0.5);
}
tr{
  background-color: rgba(255,255,255,0.12);
}

a{
  color: white;
}

.line{
  text-align: left;
font: normal normal normal Rubik;
letter-spacing: 0px;
color: #EEE9F4;
opacity: 1;}
td{
  height: 50px;
}
tr{
  width: 80%;
}

#logout{
  position: absolute;
  top : 5%;
  right: 5%
}
#vouchers{
  position: absolute;
  top:5%;
  left: 5%;
}
#logo{
  text-align: center;
}
h5 {
  color: #EEE9F4;

}
#qrcode{
  max-width: 300px;
}
#access{
  text-align: center;
font-family :Rubik;
font-size: 22px;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
#connect{
  color: #FBD400;
}