<!doctype html>
<html>
   <head>
      <title>Home</title>
      <link rel="stylesheet" href="https://talao.co/analytics/style"><!--https://talao.co/analytics/style {{url_for('static', filename = 'style.css')}}-->
   </head>
   <body>
      
      <h5>connected with {{addressTezos}}</h5>
      <div id="logo">
      <img  src="../static/Logo.png">
   </div>
      <input  class="button" id="vouchers" type="button" onclick="location.href='/analytics/usersvouchers';" value="usersWVouchers" {{usersWVouchers}}=""/>
   
      
      <input  class="button" id="logout" type="button" onclick="location.href='/analytics/logout';" value="Deconnexion" />
      <div class="table">
      <table class="blueTable" border=1>
         <thead class="header">
            <td><p class="line">Reference of NFT purchase transaction</p></td>
            <td><p class="line">Purchase amount (XTZ)</p></td>
            <td><p class="line">Purchase date</p></td>
            <td><p class="line">% discount</p></td>
            <td><p class="line">Amount of the discount (XTZ)</p></td>
            <td><p class="line">Payment status</p></td>
            <td><p class="line">Reference of payment transaction</p></td>
         </thead>
         {% for row in rows %}
         <tr>
            <td><a href="https://ithacanet.tzkt.io/{{row["hash"]}}">{{row["hash"]}}</a></td> 
            <td><p class="line">{{row["amount"]}}</p></td>
            <td><p class="line">{{row["date"]}}</p></td>
            <td><p class="line">{{row["discount"]}}</p></td>
            <td><p class="line">{{row["amountDiscount"]}}</p></td> 
            <td><p class="line">{{ row["applied"]}}</p></td> 
            <td><a href="https://ithacanet.tzkt.io/{{row["hashPayement"]}}">{{row["hashPayement"]}}</a></td> 
         </tr>
         {% endfor %}
      </table>
   </div>
   </body>
</html>