<!doctype html>
<html>
   <head>
      <title>Home</title>
      <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">

   </head>
   <body>
      
      

      <input  class="button" type="button" onclick="location.href='/analytics/usersvouchers';" value="usersWVouchers" {{usersWVouchers}}=""/>

      <input  class="button" type="button" onclick="location.href='/analytics/transactions';" value="Transactions" />

      <input  class="button" type="button" onclick="location.href='/analytics/payements';" value="Payements" />

      
      <input  class="button" type="button" onclick="location.href='/analytics/logout';" value="Deconnexion" />

   </body>
</html>