<!doctype html>
<html>
   <head>
      <title>Home</title>
      <link rel="stylesheet" href="https://talao.co/analytics/style"><!--https://talao.co/analytics/style {{url_for('static', filename = 'style.css')}}-->
   </head>
   <body>
      
    <!--  <p id="connected">connected with {{addressTezos}}</p> -->
      <div id="logo">
      <img  src="../analytics/static/logo">
   </div>
      <input  class="button" id="vouchers" type="button" onclick="location.href='/analytics/usersvouchers';" value="Vouchers" {{usersWVouchers}}=""/>
   
      
   <!--   <input  class="button" id="logout" type="button" onclick="location.href='/analytics/logout';" value="Deconnexion" /> -->
      <p id="myAnalytics">Altme's Cashback Back Analytics</p>
     
      <h3 style="color: #f0f0f0"><center>Here are all cashbacks transactions you received by using a Voucher card (10%) or a Membership card (25%)
      
         <br>Cashbacks are only applied to <strong><u>NFT Mints on Starbase</u></strong> and <strong><u>Drops Purchases on Tezotopia Marketplace</u></strong></center></h3">
<br>

      <div class="table">
      <table class="analyticsTable" border=1>
         <thead class="header">
            <td><p class="line">Purchase date</p></td>
            <td><p class="line">Purchase amount</p></td>
            <td><p class="line">Token</p></td>
            <td><p class="line">% discount</p></td>
            <td><p class="line">Discount amount</p></td>
            <td><p class="line">Token</p></td>
            <td><p class="line">Discount payment</p></td>

         </thead>
         {% for row in rows %}
         <tr>
            <td><p class="lineDate">{{row["date"]}}</p></td>
            <td><p class="line"><a href="https://tzkt.io/{{row["hash"]}}">{{row["amount"]}}</a></p></td>
            <td><p class="line">{{ row["currency"]}}</p></td> 
            <td><p class="line">{{row["discount"]}}</p></td>
            <td><p class="line"><a href="https://tzkt.io/{{row["hashPayement"]}}" >{{row["amountDiscount"]}}</a></p></td> 
            <td><p class="line">{{ row["currency"]}}</p></td> 
            <td><p class="line">{{ row["status"].capitalize()}}</p></td> 
         </tr>
         {% endfor %}
      </table>
      <h3 style="color: #f0f0f0"><center>If you have any problem with a transaction, please contact us at support@altme.io</center></h3>


   </div>
   </body>
</html>