<!doctype html>
<html>

<head>
   <title>Transactions Details</title>
   <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
</head>

<body>
   <input class="button" type="button" onclick="location.href='/';" value="Home page" />

   <table class="blueTable" border=1>
      <thead>
         <td>hash</td>
         <td>relativeTo</td>
         <td>userAddress</td>
         <td>smartContractAddress</td>
         <td>amount</td>
         <td>date</td>
      </thead>
      {% for row in rows %}
      <tr>
         <td><a href="https://ithacanet.tzkt.io/{{row["hash"]}}">{{row["hash"]}}</a></td>
         <td>{{row["relativeTo"]}}</td>
         <td> {{ row["userAddress"]}}</td>
         <td>{{row['smartContractAddress']}}</td>
         <td>{{row["amount"]}}</td>
         <td>{{row["date"]}}</td>
      </tr>
      {% endfor %}
   </table>
   <div>
      <input class="button" type="button" onclick="location.href='/transactions?year='+year()+'&month='+month()+'&day='+day()+'';" value="Select Date" />
      <input type="date" id="dateInput" min="2020-01-01" value="{{year}}-{{month}}-{{day}}">

   </div>

</body>
<script>
   function year(){
      return dateInput.value.substring(0,4)
   }
   function month(){
      return dateInput.value.substring(5,7)
   }
   function day(){
      return dateInput.value.substring(8,10)
   }
</script>
</html>