<!doctype html>
<html>
   <body>
   
      <table border = 1>
         <thead>
            <td>id</td>
            <td>idVoucher</td>
            <td>address</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["id"]}}</td>
               <td>{{row["idVoucher"]}}</td>
               <td> {{ row["addressUser"]}}</td>

            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>
      
   </body>
</html>