<!doctype html>
<html>
   <head>
      <title>Users and vouchers</title>
      <link rel="stylesheet" href="https://talao.co/analytics/style">
   </head>
   <body>
      <input  class="button" type="button" onclick="location.href='/analytics/';" value="Home page" />

      <table class="blueTable" border = 1>
         <thead>
            <td>id</td>
            <td>addressUser</td>
            <td>expiration</td>
            <td>discount</td>
            <td>benefitAffiliate</td>
            <td>benefitAffiliateType</td>
            <td>affiliate</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["id"]}}</td>
               <td>{{row["addressUser"]}}</td>
               <td> {{ row["expiration"]}}</td>
               <td>{{row["discount"]}}</td>
               <td> {{ row["benefitAffiliate"]}}</td>
               <td>{{row['benefitAffiliateType']}}</td>
               <td>{{row['affiliate']}}</td>
            </tr>
         {% endfor %}
      </table>
      
      
   </body>
</html>