<!doctype html>
<html>
   <head>
      <title>Vouchers</title>
      <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
   </head>
   <body>
      <input  class="button" type="button" onclick="location.href='/';" value="Home page" />
      <table class="blueTable" border = 1>
         <thead>
            <td>id</td>
            <td>discount</td>
            <td>expiration</td>
            <td>benefit</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["id"]}}</td>
               <td>{{row["discount"]}}</td>
               <td> {{ row["expiration"]}}</td>
               <td>{{row['benefit']}}</td>	
            </tr>
         {% endfor %}
      </table>
      
      
   </body>
</html>